@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sansation", sans-serif;

}
html,
body {
  height: 100%;
  width: 100%;
}

.parent {
  min-height: 100vh;
  width: 100%;
  background-color: black;
  padding: 5vw;
  display: flex;
  gap: 5vw;
  flex-wrap: wrap;
}

.card {
  height: 20vw;
  width: 20vw;
  background-color: white;
  border-radius: 25px;
  padding: 1.5vw
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top img {
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  border: 1px solid black;
}

.top button {
  height: 1.5vw;
  border: 1px solid rgb(170, 170, 170);
  display: flex;
  align-items: center;
  padding: 0.5vw;
  border-radius: 5px;
  color: grey;
}

.mid {
  display: flex;
  flex-direction: column;
  gap: 0.8vw;
  padding-top: 2vw;
}

.mid h3 {
  font-size: 1rem;
}

.mid h3 span {
  font-size: 0.6rem;
  color: grey;
  font-weight: 400;
}

.mid h1 {
  font-size: 1.5vw;
}

.inner-part {
  display: flex;
  gap: 0.5vw
}

.inner-part button {
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
}

.bottom {
  border-top: 1px solid rgb(212, 212, 212);
  display: flex;
  justify-content: space-between;
  margin-top: 3vw;
  padding-top: 1vw;
}

.bottom h1 {
  font-size: 1rem;
}

.bottom h1 span {
  font-size: 0.6rem;
  color: grey;
  font-weight: 400;
}

.bottom button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0 1vw;
}