@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html, body{
  height: 100vh;
  width: 100%;
  background-color: rgb(11, 11, 11);
}
#parent{
  display: flex;
  flex-wrap: wrap;
  padding: 2vw;
}
.child{
  width: 26vw;
  padding:2vw;
  text-align: center;
  background-color: rgb(39, 39, 39);
  border:3px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1vw;
  color: white;
  margin: 2vw 2vw;
  border-radius: 20px;
}
.child h1{
  font-family: "Chewy", system-ui;
}
.child img{
  height: 12vw;
  width: 12vw;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid rgb(255, 255, 255)
}