*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100vh;
  width: 100%;
}
#navbar{
  height: 5vw;
  background-color: grey;
  color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.card{
  width: 60%;
  padding: 5vw;
  background-color: navy;
  color: white;
  margin: 5vw auto 0;
}
h1{
  color: yellow;
}