@import "tailwindcss";


h1{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50% , -50%);
  text-decoration: underline;
  font-size: 5rem;
  color:white;
}
@layer components {
  .coffee-mug {
    @apply bg-[#3f2616] relative w-[170px] h-[150px] rounded-full;
    /* Concentric circles of the mug and spilled coffee effect */
    box-shadow: 
      0 0 0 10px #442918, 
      0 0 0 25px #3c2415, 
      0 0 0 42px #e4e6b2,
      0 0 0 65px #eff0d1, 
      0 120px 0 -25px #3c2415, 
      100px 70px 0 -25px #3c2415,
      80px 140px 0 -10px #3c2415, 
      0px 210px 0 -55px #3c2415,
      20px 250px 0 -65px #3c2415;
  }

  /* Mug Handle */
  .coffee-mug::before {
    content: "";
    @apply absolute bg-[#eff0d1] h-[80px] w-[60px] -top-[85px] -right-[75px] rounded-[5px] rotate-[45deg];
    box-shadow: inset 0px 50px 0 0px #eff0d1;
  }

  /* Animated Steam/Rings */
  .coffee-mug::after {
    content: "";
    @apply absolute w-5 h-5 rounded-full border-[3px] border-[#77665c] opacity-20 inset-0 m-auto;
    animation: rings 3s ease-out infinite;
  }

  @keyframes rings {
    to {
      width: 150px;
      height: 150px;
      opacity: 0;
    }
  }

  /* Responsive Scaling for the Mug */
  @media (max-width: 650px) {
    .coffee-mug {
      @apply w-[100px] h-[100px];
      box-shadow: 0 0 0 10px #442918, 0 0 0 25px #3c2415, 0 0 0 42px #e4e6b2, 0 0 0 65px #eff0d1, 10px 120px 0 -25px #3c2415, 70px 90px 0 -25px #3c2415, 50px 120px 0 -10px #3c2415;
    }
    @keyframes rings {
      to { width: 50px; height: 50px; opacity: 0; }
    }
  }

  @media (max-width: 450px) {
    .coffee-mug {
      @apply w-[50px] h-[50px];
      box-shadow: 0 0 0 10px #442918, 0 0 0 25px #3c2415, 0 0 0 42px #e4e6b2, 0 0 0 65px #eff0d1;
    }
  }
}