*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
.box{
    height: 200px;
    width: 200px;
    background-color: crimson;
}
.page{
    height: 100vh;
    width: 100%;
    border-bottom: 2px solid white;
    background-color: black;
}